.header_block {
	margin-left: 150px;
	margin-top: 80px;
	line-height: 1.5
}

.about_block {
	position: relative;
	width: 800px;
	margin-left: 450px;
	margin-top: 200px;
	line-height: 1.5;
	display: inline-block;
	max-width: 100%;
    overflow-x: hidden;
  	
}