.header_block {
	margin-left: 150px;
	margin-top: 80px;
	line-height: 1.5
}

.about_block {
	position: relative;
	width: 750px;
	margin-left: 450px;
	margin-top: 300px;
	line-height: 1.5;
	display: inline-block;
	max-width: 100%;
    overflow-x: hidden;
  	
}

img {
    max-width: 100%;
}

.image_block {
	position: absolute;
	width: 750px;
	height: auto;
	left: 450px;
	top: 80px;
}